@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  background-color: #f0f2f5;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 3px;
  overflow: auto;
}

.container {
  width: 100%;
  max-width: 600px;
  background: #ffffff;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: auto;
}

.inventory-app {
  position: relative;
  max-width: 1200px; /* Adjust based on your layout's needs */
  margin: auto;
}

.inventory-app h2 {
  color: #005f73;
  text-align: center;
  margin-bottom: 20px;
}

.inventory-app h1 {
  text-align: center;
}

/* Card styling for the totals display */
#total-cost-display,
#total-display,
#sales-total {
  background-color: #ecece9; /* White background for a clean look */
  border-radius: 15px; /* Rounded corners for a modern card-like look */
  padding: 20px 30px; /* Ample padding for a spacious layout */
  margin: 20px 0; /* Increased margin for better spacing */
  font-weight: 600; /* Semi-bold font for clarity */
  color: #333; /* Dark grey color for text, ensuring readability */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.405); /* More pronounced shadow for depth */
  display: inline-block; /* Align cards side by side */
  width: calc(33% - 5px); /* Equal width for each card with proper spacing */
  text-align: center; /* Center text inside the card */
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

#total-cost-display:hover,
#total-display:hover,
#sales-total:hover {
  transform: translateY(
    -5px
  ); /* Slight raise effect on hover for interactivity */
}

#logo {
  width: 80px;
  height: auto;
  margin-right: 10px;
}

button {
  padding: 10px;
  margin: 10px 0;
  background-color: #0077b6;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #023e8a;
}

#save-reset-sales-btn,
#clear-sales-log-btn,
#next-item {
  background-color: #89e097;
}

button:hover {
  background-color: #2a9a51;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #f1f1f1;
  border: 1px solid #888;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 500px;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

label,
.item-value {
  display: block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  overflow-y: auto;
  max-height: 350px; /* Adjust based on your preference */
}

ul li {
  background: #edf2f4;
  margin: 10px 12px;
  padding: 0 5px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition for smooth effect */
}


.delete-sold-item-btn, .unsell-item-btn {
  padding: 5px 5px; /* Padding for better touch area */
  background-color: #85b8eb; /* A pleasant blue background */
  color: white; /* White text for contrast */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners for a modern look */
  cursor: pointer; /* Cursor changes to pointer to indicate clickable */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.delete-sold-item-btn:hover, .unsell-item-btn:hover {
  background-color: #0056b3; /* Darker shade of blue on hover for interactivity */
}

ul li:hover {
  background-color: #dbe2e6; /* Slightly darker shade of the original color */
  transform: scale(1.02); /* Slightly grow the item */
}


.delete-btn,
.edit-btn,
.sell-btn {
  cursor: pointer;
  margin-left: 5px;
  height: 30px;
}

#sales-log {
  background-color: #e1e5ea;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  max-height: 150px; /* Set a max-height for scrolling */
  overflow-y: auto;
}



.sales-log-entry {
  background-color: #f9fafb;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;
}

.sales-log-entry button {
  position: absolute;
  right: 10px;
  top: 10px;
}

.sales-log-entry:hover {
  background-color: #eef2f5;
}

.inventory-header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.header-name,
.header-cost,
.header-price {
  flex-basis: 20%; /* Adjust as needed based on your design */
  text-align: left;
  padding: 0 10px;
  margin-right: 20%;
}

/* Ensure list items span styling matches the headers */
ul li span {
  flex-basis: 33%; /* Adjust as needed */
  text-align: center;
}

#sales-view {
  display: none; /* Initially hidden */
  padding: 20px;
  background-color: #fff; /* Match the theme */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#sales-view h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home {
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  height: 50px;
}

#home:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

#sales-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  max-height: 300px; /* Adjustable based on your preference */
}

#sales-list li {
  background: #edf2f4;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sales-list li:hover {
  background-color: #e2e6ea;
}

#total-sales {
  margin-top: 20px;
  font-weight: bold;
  color: #333; /* Match the theme */
}



/* Add any additional styles for buttons or other elements as needed */

body,
html {
  height: 100%;
  background-color: #f0f2f5;
  color: #333; /* Default text color */
}

.container {
  width: 100%;
  max-width: 600px;
  background: #ffffff;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: auto;
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #1a1a1a;
  color: #414b4f; /* Dark blue text color */
}

.dark-mode .container {
  background: #2c3e50; /* Darker grey background */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

/* Text and background color adjustments for readability */
.dark-mode body,
.dark-mode html {
  background-color: #1a1a1a;
  color: #dfe6e9; /* Dark blue text color */
}

/* Dark Mode Button */
.dark-mode button {
  background-color: #3498db;
  color: #fff;
}

/* Dark Mode Button Hover */
.dark-mode button:hover {
  background-color: #2980b9;
}

/* Specific button adjustments for dark mode */
.dark-mode #save-reset-sales-btn,
.dark-mode #clear-sales-log-btn,
.dark-mode #next-item {
  background-color: #89e097;
}

/* Dark Mode Sales Log */
.dark-mode #sales-log {
  background-color: #2c3e50;
}

/* Dark Mode Sales Log Entry */
.dark-mode .sales-log-entry {
  background-color: #34495e;
}

.dark-mode h3 {
  color: #1b496c;
}

.dark-mode h2 {
  color: #374449;
}
.dark-mode h1 {
  color: #c6d3d7;
}


/* Dark Mode Sales List */
.dark-mode #sales-list li {
  background: #34495e;
  color: #dfe6e9; /* Dark blue text color */
}

/* Dark Mode Home Button Hover */
.dark-mode #home:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Dark Mode Active Button */
.dark-mode button.active {
  background-color: #2980b9;
}

/* Additional adjustments for dark mode */
.dark-mode .header-name,
.dark-mode .header-cost,
.dark-mode .header-price {
  color: #dfe6e9; /* Dark blue text color */
}

/* Creative design changes for dark mode */
.dark-mode .container {
  transition: background-color 0.5s ease;
}

.dark-mode button,
.dark-mode #home {
  transition: background-color 0.5s ease;
}

.dark-mode button:hover,
.dark-mode #home:hover {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.dark-mode .sales-log-entry:hover {
  background-color: #1e272e;
}


/* Dark Mode Inventory List Items */
.dark-mode label,
#inventory-list li span{
  color: #042a3a; /* Dark blue text color */
}

.hidden { display: none; }
#modal-content {
  max-height: 300px; /* Set the maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.item-card {
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: #1a1a1a;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}


.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could adjust based on your preference */
  border-radius: 10px; /* Rounded corners for the modal content */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Shadow for 3D effect */
  animation: animatetop 0.4s; /* Animation */
}

@keyframes animatetop {
  from {top: -300px; opacity: 0} 
  to {top: 0; opacity: 1}
}

/* Style adjustments for the close button */
#close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close-modal:hover,
#close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Ensure the item cards within the modal content use the styling */
#modal-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.item-card {
  background: #f9f9f9; /* Lighter background for the cards */
  border: 1px solid #ccc; /* Subtle border */
  border-radius: 10px; /* Keep rounded corners */
  padding: 15px; /* Slightly more padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for interactivity */
  cursor: pointer; /* Indicates that the card is clickable */
}

.item-card:hover {
  transform: scale(1.02); /* Slightly enlarge cards on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */
}

/* Style adjustments for the item attributes inside the card */
.item-name {
  font-size: 18px; /* Larger font size for item name */
  font-weight: bold; /* Make item name bold */
  margin-bottom: 10px; /* Space between name and cost/price */
  color: #1a1a1a;
}

.item-cost, .item-price {
  color: #555; /* Darker text color for contrast */
  font-size: 16px; /* Slightly larger font size */
}

#booth-buttons-container button {
  background-color: #98aee3; /* Green background for distinction */
  color: white; /* White text color for contrast */
  border: 0px; /* No border for a cleaner look */
  padding: 10px 20px; /* Ample padding for a larger button */
  margin: 5px; /* Margin to avoid button clustering */
  border-radius: 5px; /* Slightly rounded corners */
  cursor: pointer; /* Cursor pointer to indicate clickability */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

#booth-buttons-container .active-booth {
  background-color: #7766c2; /* Change to match your theme */
  color: white;
  border: 2px;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  outline: 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Optional: Adds depth */
  transform: scale(1.05);
}

#booth-buttons-container button:hover {
  background-color: #7766c2; /* Darker green on hover for interactivity */
}

#view-all-items {
  background-color: #76bd8d; /* Sleek blue, adjustable to fit your theme */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 20px auto; /* Center alignment */
  display: block; /* Necessary for margin auto to work */
  width: 60%; /* Wider appearance */
  border-radius: 25px; /* Rounded corners for a modern look */
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; /* Smooth transitions for interactivity */
}

#view-all-items:hover {
  background-color: #32af5a; /* Darker shade on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* More pronounced shadow on hover */
  transform: scale(1.05); /* Slightly larger on hover */
}

.tooltip {
  visibility: hidden;
  min-width: 220px; /* Adjust width as needed */
  background-color: #2c3e50e5; /* Dark shade for contrast */
  color: #fff;
  text-align: center;
  border-radius: 8px; /* Slightly larger radius for modern curves */
  padding: 10px 15px; /* More padding for better content fit */
  position: absolute;
  z-index: 100;
  bottom: 100%; /* Position above the parent element */
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Soft shadow for depth */
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s; /* Smooth transitions for all properties */
}

.tooltip::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #2c3e50 transparent transparent transparent; /* Arrow color matches the tooltip */
}

#total-cost-display:hover .tooltip,
#total-display:hover .tooltip,
#sales-total:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(-10px); /* Slightly move up to attract attention */
}


